{% extends 'base.html' %}

{% block head %}
<title>Crypto Tracker</title>
{% endblock %}

{% block body %}
<div class="container border">
    <div class="row">
      <div class="col border text-center col-lg-2">
        <img src="{{url_for('static', filename='images/btc.jpg')}}" class="float-left img-fluid rounded-3" alt="bitcoin stacks">
      </div>
      <div class="col border text-center col-lg-7.5 p-5 bg-light">
        <p class="text-center">Please select at least one, and up to three, crypto coins to see current prices. You must also select a currency (the last dropdown).</p>
        <form action="/" method="POST" class="needs-validation" novalidate>
            <div class="form-group">
                <label for="crypto1" class="col-4 col-form-label">Choose crypto(s)</label>
                <select class="form-control" id="crypto1" name="crypto1" required>
                  <option value="">Select a crypto...</option>
                  <option>BTC</option>
                  <option>ETH</option>
                  <option>DOT</option>
                  <option>MATIC</option>
                  <option>SOL</option>
                </select>
                <div class="invalid-feedback">
                    Please choose at least one crypto.
                </div>
            </div>
            <div class="form-group">
                <p></p>
                <select class="form-control" id="crypto2" name="crypto2">
                    <option value="">Select a crypto...</option>
                        <option>BTC</option>
                        <option>ETH</option>
                        <option>DOT</option>
                        <option>MATIC</option>
                        <option>SOL</option>
                  </select>
                  
            </div>
                  <p></p>
            <div class="form-group">
                <select class="form-control" id="crypto3" name="crypto3">
                    <option value="">Select a crypto...</option>
                        <option>BTC</option>
                        <option>ETH</option>
                        <option>DOT</option>
                        <option>MATIC</option>
                        <option>SOL</option>
                  </select>
              </div>
              <div class="form-group">
                <label for="currency" class="col-4 col-form-label">Choose a currency</label>
                <select class="form-control" id="currency" name="currency" required>
                  <option value="">Select a currency...</option>
                  <option>American Dollar</option>
                  <option>British Pound</option>
                  <option>Euro</option>
                  <option>Swiss Franc</option>
                  <option>Canadian Dollar</option>
                  <option>Australian Dollar</option>
                  <option>Chinese Yuan Renminbi</option>
                  <option>Russian Ruble</option>
                  <option>Indian Rupee</option>
                </select>
                <div class="invalid-feedback">
                    Please choose a currency.
                  </div>
            </div>
            <p></p>
            <button class="btn btn-dark btn-lg mb-5" type="submit">Get prices</button>
        </form>
        {% for crypto in data %}
          {% if data[crypto].name %}
            <p class="text-center">{{ data[crypto].name }} {{ data[crypto].price }} {{ currency }}</p>
          {% endif %}
        {% endfor %}
      </div>
      <div class="col border text-center col-lg-2">
        <img src="{{url_for('static', filename='images/btc.jpg')}}" class="float-left img-fluid rounded-3" alt="bitcoin stacks">
      </div>
    </div>
    <div class="row">
       
    </div>
</div>
<script>
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
    </script>
{% endblock %}